<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="OK"/>
    </form>
    {% if submitbutton == "OK" %}
        <h1>Введите текущий пароль {{ current_password }}</h1>
        <h1>Введите новый пароль {{ new_password }}</h1>
        <h1>Подтвердите новый пароль {{ retype_new_password }}</h1>
    {% endif %}
</body>
</html>