<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="OK"/>
    </form>
    {% if submitbutton == "OK" %}
        <h1>Введите Имя аккаунта {{ user_name }}</h1>
        <h1>Введите Имя пользователя {{ firstname }}</h1>
        <h1>Введите Фамилию пользователя {{ lastname }}</h1>
        <h1>Введите Пароль пользователя {{ passWord }}</h1>
    {% endif %}
</body>
</html>