{% extends 'main/layout.html' %}

{% block title %} {{ title }} {% endblock %}
{% block content %}
    <body class="change">
        <div class="features">
            <h1 class="change">Форма смены пароля</h1>
            <form class="change" action="" method="post">
                {% csrf_token %}
                {{ form.new_password }}<br>
                {{ form.retype_new_password }}<br>
                <span>{{ text_action }}</span>
                <button class="btn btn-success" type="submit">Поменять пароль</button>
            </form>
        </div>
    </body>
{% endblock %}
